:root{
    --main-color: #FFFFFF;
    --black:#13131a;
    --bg: #000000;
    --border: 0.1rem solid rgba(233,255,255,0.3);
}
* {
    padding: 0;margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 0.8rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
body {
    background: var(--main-color);
}
.header{
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem 7%;
    border-bottom: var(--border);
    position: fixed;
    left: 0;right: 0;
    z-index: 1000;
    border-bottom: var(--border);
}
.header .logo h1 {
    font-size: 4rem;
    color: var(--bg);
    
}
.header .navbar a:hover{
    color: var(--bg);
    border-bottom: 0.3rem solid var(--bg);
    padding-bottom: 5px;
}
/* .top {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: var(--main-color);
    gap: 7rem;
    font-weight: 600;
    font-size: 1rem;
    width: 100%;
    position: fixed;
    left: 0;right: 0;
    z-index: 1000;
}
.top div {
    text-align: center;
}
.top div span {
    font-weight: bolder;
}
.top div {
    display: flex;
    align-items: center;
} */
.navbar {
    width: 100%;
}
.header .navbar a{
    color: var(--bg);
    font-size: 1.6rem;
    margin: 0 1rem;
  }
  .header .icons div {
    color: var(--bg);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.header .icons div{
    cursor: pointer;
}
.header .icons .inputBox{
    background: #f5f5f5;
    display: flex;
    align-items: center;
    height: 2rem;
    height: 100%;
    width: 100%;
    padding: .8rem; 
}
.header .icons .inputBox input{
    font-size: 1.6rem;
    background:  #f5f5f5;
    width: 100%;
}
#menu-btn{
   display: none;
}
.search-form{
    display: none;
}
@media (max-width:991px) {
    html {
        font-size: 55%;
    } 
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }
}
@media (max-width:768px) {
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        padding-top: 5rem;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar.active {
        right: 0;
    }
    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
    .header .navbar a:hover{
        color: var(--bg);
        border: none;
    }
    .header .search-form{
        width: 90%;
        right: 2rem;
    }
    .icons .inputBox{
        display: none;
    }   
}

.home {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    background: var(--bg);
    min-height: 80vh;
    margin: auto;
    width: 100%;
}
.home .left{
    flex: 1 1 45rem;
    padding: 5rem 7rem;
    text-align: start;
    background: var(--bg);
    color: var(--main-color);
    gap: 3rem;
    width: 100%;
    
}
.home .left div {
    display: flex;
    font-size: 3rem;
}
.home .left h1 {
    font-size: 6rem;
}
.home .left a {
    font-size: 3rem;
    color: var(--main-color);
}
.home .right {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover; 
    display: flex;
    min-height: 40vh;
   justify-content: space-around;
}
.home .right img {
    width: 70%;
}
@media (max-width:991px) {
    .home{
        margin-top: 5rem;
        align-items: center;
    }
}
.today {
    display: flex;
    align-items: center;
   padding: 4rem;
   width: 84%;
   margin: auto;
}
.today .div {
    background-color: #db4444;
    width: 20px;
    height: 40px;
    border-radius: .5rem;
}
.todays{
    padding: 2rem;
    color: #db4444;
    font-size: 2rem;
    font-weight: bold;
}
.sec .flash{
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
    align-items: center;
}
.sec .flash div div p {
    font-size: 2rem;
}
.days{
    display: flex;
    flex-direction: row;
}
.days div {
    display: flex;
    flex-direction: column;
    align-items: start;
}
h2 {
    margin-right: 2rem;
}
#arrow {
    background: #F5F5F5;
    padding: 1rem ;
    margin-right: 15px;
    border-radius: .4rem;
}
@media (max-width:768px) {
    .sec .flash{
        font-size: 2rem;
    }
    .sec .flash {
        flex-direction: column;
        gap: 2rem;
        align-items: start;
    }
    .days {
        flex-direction: row;
    }
}
.blogs {
    width: 84%;
   margin: auto;
   margin-top: 2rem;
}
.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: center;
    text-align: center;
    width: 100%;
 }
 .content{
    text-align: start;
 }
 .blogs .box-container .box{
    border: var(--border);
 }
 .blogs .box-container .box .image {
    height: 18rem;
    overflow: hidden;
    width: 80%;
    padding: 30px;
    background: #f7f4f4;
 }
 .blogs .box-container .box:hover .image img{
    transform: scale(1.2);
 }
 .blogs .box-container .box .content{
    padding: 2rem;
 }
 .blogs .box-container .box .content .title {
    font-size: 1.5rem;
    color: var(--bg);
    display: block;
 }
 .blogs .box-container .box .content .title:hover{
    color: var(--main-color);
 }
 .blogs .box-container .box .content span {
    color: #db4444;
    padding-top: 1rem;
    font-size: 1.8rem;
 }
 .blogs .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    text-decoration: line-through;
    color:#B8B8B8;
    padding: 1rem 0;
    display: inline-block;
 }
 .blogs .box-container .box .content i{
    color: rgb(248, 216, 33);
 }
 .button {
    text-align: center;
    border-bottom: 1px solid #B8B8B8;
    padding-bottom: 50px;
 }
 .btn {
    margin-top: 1.4rem;
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    color: white;
    background: #db4444;;
    cursor: pointer;
}
.btn:hover{
    letter-spacing: 0.2rem;
}
 .sec2{
    display: flex;
    align-items: center;
   padding: 4rem;
   width: 84%;
   margin: auto;
   justify-content: space-between;
}
.sec2 div #arrow {
    background: #F5F5F5;
    padding: 1rem ;
    margin-right: 15px;
    border-radius: .4rem;
    font-size: 30px;
}
.sec2 .text h2{
    font-size: 40px;
}
.icons {
    width: 84%;
     margin: auto;
}
.icon1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.2rem;
    align-items: center;
    text-align: center;
    width: 100%;
    /* display: flex;
    gap: 40px;
    justify-content: center;
    border-bottom: 1px solid #B8B8B8;
    padding-bottom: 80px; */
}
.mp {
    width: 84%;
   margin: auto;
   margin-top: 50px;
   background: #000000;
   padding: 60px 0px;
}
.cat {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: start;
    color: white;
}
.time {
    display: flex;
    align-items: center;
}
.time div {
    border-radius: 50%;
    background-color: white;
    color: black;
    padding: 10px;
    margin-right: 10px;
}
.time div:hover{
    color: white;
    background: rgb(71, 61, 61);
}
.categories {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.categories .ppp {
    font-size: 20px;
    color: #00EF5F;
}
.categories h1 {
    font-size: 45px;
}
.cat a {
     color: #FFFFFF;
     background: #00EF5F;
     width: fit-content;
     font-size: 15px;
     padding: 10px 20px;
}
.cat a:hover{
    letter-spacing: 0.2rem;
}
.products {
   width: 84%;
   margin: auto;
   margin-top: 2rem;
}
.box-contain {
    display: flex;
    justify-content: space-around;
}
.box-2  .b{
    display: flex;
    gap: 30px;
}
.box-2 div {
    margin-bottom: 35px;
}
.delivery {
     width: 84%;
   margin: auto;
   margin-top: 5rem;
}
.fast {
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.fast div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.fast div img {
    width: 70px;
}
.fast div h2 {
    font-size: 23px;
}
.fast div p {
    font-size: 15px;
}
.footer {
    width: 100%;
    margin: auto;
    margin-top: 5rem;
    background: #000000;
    color: #FFFFFF;
    padding: 50px;
}
.foot {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: top;
    font-size: 15px;
}
.foot  {
    display: flex;
    gap: 10px;
}
.div1 div ul li{
    margin-bottom: 20px;
    list-style: none;
}
.div1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.foot div div h1 {
    font-size: 30px;
}
.row1  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 15px;
    border: 1px solid #FFFF;
    padding: 7px;
}
#input-box {
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    font-weight: 14px;
    color: white;
}
.imag {
    cursor: pointer;
    width: 20px;
}
.div1 div ul li div{
    display: flex;
}
.row2  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apple-store {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.last {
    width: 100%;
   margin: auto;
   background: #000000;
   padding: 30px 0px;
   color: #353535;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 15px;
   gap: 10px;
}
.logIn {
   padding-top: 15rem;
   padding-bottom: 3rem;
   width: 100%;
   margin: auto;
}
.log {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.log div h1 {
    font-size: 35px;
    margin-bottom: 20px;
}
.log div p {
    font-size: 15px;
    margin-bottom: 40px;
}
.log div input {
     margin: 10px;
     padding: 10px;
     border-bottom: 1px solid #B8B8B8;
     text-align: left;
     width: 100%;
}
.form div {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    gap: 30px;
}
.btn-11 {
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    color: white;
    background: #db4444;
    cursor: pointer;
}
.btn-11:hover{
    letter-spacing: 0.2rem;
}

.btn-22 {
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    color: #db4444;
    background: white;
    cursor: pointer;
}
.btn-22:hover{
    letter-spacing: 0.2rem;
    background: #db4444;
    color: white;
}
@media (max-width:1356px) {
    .box-2  .b img{
        width: 40%;
    }
    .box-contain div img {
        width: 89%;
    }
}

@media (max-width:1450px) {
     .radio img {
         width: 80%;
     }
     .categories h1 {
        font-size: 30px
     }
     .time div{
          font-size: 10px;
     }
}
@media (max-width:1190px) {
    .div1 div  {
        font-size: 13px;
    }
    .row1 {
        padding: 2px;
        width: fit-content;
    }
}
@media (max-width:1030px) {
    .radio img {
        width: 70%;
    }
    .categories h1 {
       font-size: 30px
    }
    .time div{
         font-size: 10px;
    }
    .cat a {
        font-size: 10px;
        padding: 8px 15px;
   }
   .foot {
    flex-direction: column;
   }
   .row2 {
    width: fit-content;
    gap: 15px;
   }
   .sec2 .text h2{
    font-size:30px;
   }
   #arrow {
    font-size: 20px;
   }
   .sec2 div #arrow {
    font-size: 20px;
   }
}
@media (max-width:998px) {
    .cat {
        flex-direction: column;
        align-items: center;
        
    }
    .fast{
        flex-direction: column;
        gap: 50px;
    }
    .box-contain {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .box-2  .b img{
        width: 100%;
    }
    .box-2 div img {
        width: 100%;
    }
    .box-contain div img {
        width: 100%;
    }
    .sec2 {
        flex-direction: column;
    }
    .sec2 div #arrow {
        display: none;
       }

}
@media (max-width:670px) {
    .box-2  .b {
        flex-direction: column;
    }
}